<!-- <div class="home-carrousel">
    <div class="home-slide">
        <img src="assets/images/truck.jpg" alt="" class="slide-img">
        <div class="slide-content">
            <div class="content-top">
                <h1>Nous sommes les experts du transport routier</h1>
                <h2>Le seul transporteur qui respecta rigoureusement les bonnes pratiques du transport routier</h2>
            </div>
            <div class="slide-position">
                
            </div>
            <div class="more-info-slide">

            </div>
        </div>
    </div>

</div> -->

<div class="home-carousel">
    <carousel [pauseOnFocus]="true" [isAnimated]="true">
        <slide *ngFor="let slide of slides">
            <img [src]="url + slide.image" alt="{{ slide.text }}">
            <div class="carou">
                <div class="carousel-caption">
                    <h1>{{ slide.title }}</h1>
                    <span>{{ slide.text }}</span>
                    <div class="more-info">
                        <a href="{{ slide.link }}">En savoir plus</a>
                    </div>
                </div>
            </div>
        </slide>
    </carousel>
</div>