.popup-body {
    background-color: #285e94;
    max-width: max-content;
    // border-radius: 30px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;

    .truck {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px 50px;
    
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #fff;
            transition: all .3s ease-in-out;
    
            h1 {
                font-size: 3.5vw;
                // line-height: 4.5vw;
                margin: 0;
                font-weight: 400;
            }
        
            p {
                font-size: 1.3vw;
                margin: 0;
            }

            &:hover {
                color: #000;
            }
        }
    }
    
    // vertical line
    .line {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 2.5px;
        height: 80%;
        background-color: #fff;
        border-radius: 70%;
    }
    
    .ship {
        padding: 5px 50px;
        color: #fff;
    
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #fff;
            transition: all .3s ease-in-out;
    
            h1 {
                font-size: 3.5vw;
                margin: 0;
                font-weight: 400;
            }
        
            p {
                font-size: 1.3vw;
                margin: 0;
            }

            &:hover {
                color: #000;
            }
        }
    }
}