.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
  
    .popup-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
  
    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #285e94;
        width: 80%;
        max-width: max-content;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        
  
        .popup-body {
            padding: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5vw;
        }
    }
}
  