<footer>
    <!-- <div class="container"> -->
        <div class=" footer">   
            <div class="footer-logo">
                <img src="assets/images/logo-white.png" alt="">
            </div>       
            <address>
                <h4>&nbsp; Contactez-nous</h4>
                <div class="phone">
                    <i class="fa fa-phone" aria-hidden="true"></i> 
                    <div class="phone-num">
                        +212 (0) 522 27 35 38<br>
                    </div>
                </div>
                
                <div class="email">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <a href="mailto:contact@smartlogistictransition.com">   contact@smartlogisticstransition.com</a>
                </div>

                <div class="location">
                    <i class="fa fa-location-dot" aria-hidden="true"></i>
                    <div class="location-info">
                        <span>SIÈGE SOCIAL : 147 RUE MOHAMED SMIHA</span>
                        <span>ETAGE N° 2 N° 210 CASABLANCA</span>
                    </div>
                </div>
            </address>

            

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.465755448215!2d-6.8479455848172375!3d34.00625378061846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda76d6be9c30d2f%3A0x1228617674ab5382!2sEMSI%20Agdal%202!5e0!3m2!1sen!2sma!4v1674950995904!5m2!1sen!2sma" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    <!-- </div> -->
</footer>