<div class="services">
    <div class="line"></div>
    <div class="content">
        <div class="service">
            <div class="image">
                <img src="assets/images/smart-ship/services/domicile.png" alt="">
            </div>
            <h1>Ramassage domicile</h1>
            <div class="line"></div>
            <p>Vos colis sont collectés par nos agents à l'emplacement précisé</p>
        </div>
        <div class="service">
            <div class="image">
                <img src="assets/images/smart-ship/services/expedition.png" alt="">
            </div>
            <h1>Expédition sécurisée</h1>
            <div class="line"></div>
            <p>Des mesures trés strictes sont prises pour assurer la sécurité et l'intégrité des marchandises pendant leur transport.</p>
        </div>
        <div class="service">
            <div class="image">
                <img src="assets/images/smart-ship/services/livraison.png" alt="">
            </div>
            <h1>Livraison Express sous 24h</h1>
            <div class="line"></div>
            <p>La livraison est proposée du lundi au samedi, dans tout le Maroc, partir de 24 heures en fonction de la destination du colis</p>
        </div>
        <div class="service">
            <div class="image">
                <img src="assets/images/smart-ship/services/DH.png" alt="">
            </div>
            <h1>Retour de fonds rapide</h1>
            <div class="line"></div>
            <p>Aprés la livraison, vos paiements vous sont restitués en moins de 48 heures.</p>
        </div>
        <div class="service">
            <div class="image">
                <img src="assets/images/smart-ship/services/suivi.png" alt="">
            </div>
            <h1>Suivi des colis</h1>
            <div class="line"></div>
            <p>Peu importe oü vous étes et quel moment,vous pouvez suivre en temps réel l'état de vos colis.</p>
        </div>
        <div class="service">
            <div class="image">
                <img src="assets/images/smart-ship/services/relais.png" alt="">
            </div>
            <h1>Réseau de points relais</h1>
            <div class="line"></div>
            <p>Notre solution de livraison s'adapte vos horaires et vous permet d'utiliser notre réseau de points relais pour récupérer les colis envoyés par un particulier ou un site de vente.</p>
        </div>
    </div>
</div>