<div class="actions">
    <div class="box">
        <div class="image">
            <img src="assets/images/home/actions/contact.png" alt="">
        </div>
        <div class="more-info">
            <a href="#">Besoin de complément d'information ?</a>
            <p>Nos spécialistes vous accompagnent et répondent vos questions</p>
        </div>
    </div>

    <div class="box">
        <div class="image">
            <img src="assets/images/home/actions/devis.png" alt="">
        </div>
        <div class="more-info">
            <a href="">Recevez votre devis en moins de 48 heures !</a>
            <p>Faites votre demande et recevez votre tarif en express</p>
        </div>
    </div>
</div>