.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7vw 0;

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vw;

        .image {
            img {
                width: 10vw;
                z-index: 1;
            }
        }

        .more-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 12vw;
            gap: 1vw;

            a {
                height: 100%;
                color: #22578c;
                font-size: 1.8vw;
                line-height: 1.3;
                text-decoration: none;
                text-align: center;
                transition: all 0.3s ease-in;

                &:hover {
                    color: #22578c;
                    text-decoration: underline;
                }
            }

            p {
                font-size: 1.3vw;
                margin: 0;
                text-align: center;
            }
        }
    }
}