<nav>
    <div class="logo">
        <img src="assets/images/logo.png" alt="logo">
    </div>

    <div class="navigation">
        <ul>
            <li class="active"><a routerLink="/" routerLinkActive="active">Acceuil</a></li>
            <li><a routerLink="/about" routerLinkActive="active">Nos Solutions</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Opération</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">contactez-nous</a></li>
        </ul>
    </div>

    <div class="login">
        
    </div>
</nav>