<nav>
    <div class="nav-top">
        <ul>
            <li>Service commercial: +212 (0) 674 97 49 74</li>
            <li>Hotline : +212 (0) 522 27 35 38</li>
            <li>Lun - Ven : 8h30 - 18h30 | Sam : 8h30 - 12h30</li>
        </ul>
    </div>
    <div class="nav-bottom">
        <div class="logo">
            <a href="/"><img src="assets/images/logo.png" alt="logo"></a>
        </div>

        <div class="navigation">
            <ul>
                <li routerLinkActive="active"><a routerLink="/home">Acceuil</a></li>
                <li routerLinkActive="active"><a routerLink="/solutions">Nos Solutions</a></li>
                <li routerLinkActive="active"><a routerLink="/operation">Opération</a></li>
                <li routerLinkActive="active"><a routerLink="/client">Espace Client</a></li>
            </ul>
        </div>
    </div>
</nav>