<nav>
    <div class="nav-top">
        <ul>
            <li>Service commercial: +212 (0) 674 97 49 74</li>
            <li>Hotline : +212 (0) 522 27 35 38</li>
        </ul>
    </div>
    <div class="nav-bottom">
        <div class="logo">
            <a href="/"><img src="assets/images/logo.png" alt="logo"></a>
        </div>

        <div class="navigation">
            <ul>
                <li class="active"><a routerLink="/" routerLinkActive="active">Acceuil</a></li>
                <li><a routerLink="/about" routerLinkActive="active">Nos Solutions</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Opération</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Espace Client</a></li>
            </ul>
        </div>

        <div class="login">
            
        </div>
    </div>
</nav>