<div class="header">
    <h1>Nos Solutions</h1>
    <div class="content">
        <div class="image">
            <img src="assets/images/smart-truck/header/truck.jpg" alt="">
            <div class="title">
                <h1>SmartTruck</h1>
                <span>Transport routier</span>
            </div>
        </div>
        <p>
            Smart Logistics Transition spécialiste du transport de lots complets et partiels, nous élaborons avec expertise une large gamme de services de transport routier, allant des offres standards aux solutions sur mesure, avec pour objectif l'excellence opérationnelle et une attention particuliére portée aux contraintes
            de délais et de coüts.
            Nous disposons d'une flotte de véhicules en plus d'un réseau d'affrétés sur tout le sol national, ainsi que des conducteurs qualifiés, afin d'offrir flexibilité, réactivité et capacités de transport.
            Notre portail intelligent « Smart-e », associés å des heures d'enlévement flexibles, vous permettent de suivre facilement vos envois et de bénéficier d'un avantage concurrentiel.
        </p>
    </div>
</div>