<div class="autres">
    <h1>DÉCOUVREZ LES AUTRES SOLUTIONS</h1>
    <carousel [pauseOnFocus]="true">
        <slide>
            <div class="slide-content">
                <div class="slide-image">
                    <img src="assets/images/solutions/autres/entreposage.jpg" alt="">
                    <h2>Entreposage</h2>
                </div>
            </div>
        </slide>
        <slide>
            <div class="slide-content">
                <div class="slide-image">
                    <img src="assets/images/solutions/autres/transport.jpg" alt="">
                    <h2>Transport</h2>
                </div>
            </div>
        </slide>
        <slide>
            <div class="slide-content">
                <div class="slide-image">
                    <img src="assets/images/solutions/autres/demenagement.jpg" alt="">
                    <h2>Déménagement</h2>
                </div>
            </div>
        </slide>
    </carousel>
</div>