<div class="transport">
    <div class="line"></div>
    <div class="transport-content">
        <div class="express">
            <div class="header">
                <img src="assets/images/solutions/transport/express.jpg" alt="">
                <h2>Transport Express</h2>
            </div>
            <div class="text">
                <p>
                    En combinant notre expérience et notre expertise, nous nous efforçons de garantir la sécurité, la qualité, la traqabilité et le respect des délais pour vous fournir la livraison de vos commandes. Notre objectif est de vous orienter vers le meilleur rapport qualité-prix-délai.
                </p>
                <ul>
                    <li>Flotte diversifiée de camions</li>
                    <li>Livraison entre et depuis les diverses villes du royaume.</li>
                    <li>Flotte équipée de GPS pour un suivi en temps réel de vos
                        marchandises.</li>
                    <li>Manutention soigneuse des marchandises.</li>
                    <li>Chauffeurs professionnels et expérimentés.</li>
                </ul>
            </div>
        </div>
        <div class="frigo">
            <div class="header">
                <img src="assets/images/solutions/transport/frigo.jpg" alt="">
                <h2>Transport Frigorifique</h2>
            </div>
            <div class="text">
                <p>
                    Nous disposons d'une flotte moderne de véhicules frigorifiques pour garantir le maintien de la température requise pour vos produits. Le suivi en temps réel de la livraison et de la température est un élément Clé de notre service. Nous formons notre personnel pour la manutention adéquate et le transport des produits sensibles. Nous nous engageons garantir la qualité de nos services afin de satisfaire vos besoins de transport frigorifique.
                </p>
                <ul>
                    <li>Flotte de véhicules frigorifiques pour maintenir la température requise.</li>
                    <li>Suivi en temps réel de température et de la livraison.</li>
                    <li>Personnel qualifié et réguliérement formé la manutention et le transport de produits alimentaires. Et des produits issus de laboratoires chimiques et pharmaceutiques.</li>
                </ul>
            </div>
        </div>
    </div>
</div>