<div class="portail">
    <div class="title">
        <h1>Portail Smart-e</h1>
    </div>
    <div class="body">
        <img src="assets/images/home/portail/portail.png" alt="">
        <div class="text">
            <p>Notre plateforme centralisée vous permet de vous connecter en temps réel å une gamme d'outils entiérement digitalisés pour gérer efficacement vos opérations de transport et de stockage.</p>
            <p>En effet, vous pouvez accéder votre espace depuis n'importe oü et avec plusieurs utilisateurs, sans frais supplémentaires.</p>
            <div class="fonctionnalites">
                <p>Les fonctionnalités de la plateforme comprennent notamment :</p>
                <ul>
                    <li>Suivi des niveaux de stock</li>
                    <li>Planification des ramassages et des livraisons</li>
                    <li>Suivi des expéditions en temps réel</li>
                    <li>Consultation des derniéres factures, et bien d'autres fonctionnalités</li>
                </ul>
            </div>
        </div>
    </div>
</div>