<div class="header">
    <h1>Nos Solutions</h1>
    <div class="content">
        <div class="image">
            <img src="assets/images/solutions/header/truck.jpg" alt="">
            <div class="title">
                <h1>SmartTruck</h1>
                <span>Transport routier</span>
            </div>
        </div>
        <p>
            SMART LOGISTICS TRANSITION s'engage å offrir un service de transport fiable et professionnel pour toutes vos marchandises, quelle que soit leur nature et forme. Nous mettons disposition les ressources nécessaires pour garantir le transport rapide et sécurisé de votre marchandise entre et vers les différentes villes du royaume, en prenant en compte le lieu de départ et d'arrivée, la typologie de la marchandise, les délais et le budget impartis, ainsi que toutes les considérations logistiques liées votre transport.
        </p>
    </div>
</div>