<div class="header">
    <h1>Nos Solutions</h1>
    <div class="content">
        <div class="image">
            <img src="assets/images/smart-ship/header/truck.jpg" alt="">
            <div class="title">
                <h1>SMART'SHIP</h1>
                <span>Transport routier</span>
            </div>
        </div>
        <div class="text">
            <p>SmartShip, un expert en livraisons et dernier kilometre, s'efforce de garantir la rapidité de livraison de vos colis chez vos clients ou dans le réseau de ses relayeurs ou partenaires.
            Notre priorité est de satisfaire vos clients. C'est pourquoi, avec nos Offres et services SmartShip, nous visons å fournir la meilleure expérience client pour vous et vos clients.SmartShip est votre meilleur allié pour la livraison de vos colis en garantissant :</p>
            <div class="fonctionnalites">
                <ul>
                    <li>Une Offre compléte de services de livraison å domicile ou en point retrait</li>
                    <li>Un accompagnement au quotidien et une réponse å tous vos besoins, gråce des équipes expérimentées</li>
                    <li>Livraison rapide et fiable de colis</li>
                    <li>Suivi en temps réel de la livraison</li>
                    <li>Un retour rapide de vos paiements aprés la livraison de vos colis</li>
                </ul>
            </div>
        </div>
    </div>
</div>